<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <title>Vantan名古屋備品管理システム</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.2/dist/materia/bootstrap.min.css" crossorigin="anonymous">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/scss/navbar-fixed-left.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-left align-items-center" style="background-color:#3BAFE5;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-center flex-row align-content-center">
                <a class="navbar-brand" href="/"></a>
            </div>
            <span class="small navbar-text">
                v-1.2.2
                2023/02/01
            </span>
            <div class="collapse navbar-collapse text-center my-4" id="navbarNav4">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        書籍
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/lending">書籍貸出</a>
                            <a class="dropdown-item" href="/listlending">書籍返却・貸出履歴</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        備品
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/lending-item">備品貸出</a>
                            <a class="dropdown-item" href="/listlending-item">備品返却・貸出履歴</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/writecsv">履歴書き出し</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">このアプリについて</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
    <!-- jQuery読み込み -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Propper.js読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <!-- BootstrapのJavascript読み込み -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>